.vscode/**
.vscode-test/**
out/
node_modules
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.ts
test_fixtures/
.stylua.toml
.prettierignore
.github/
scripts/
.husky
eslint*