name: Auto merge dependabot

on: [pull_request]

jobs:
    auto-merge:
        runs-on: ubuntu-latest
        steps:
            - uses: ahmadnassri/action-dependabot-auto-merge@v2
              with:
                  target: minor
                  github-token: ${{ secrets.RELEASE_PLEASE_KEY }}
