name: Code Check & Test

on:
    pull_request:
        branches:
            - master

jobs:
    build:
        name: Build & Test
        strategy:
            matrix:
                os: [macos-latest, ubuntu-latest, windows-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v2
            - name: Setup Node
              uses: actions/setup-node@v1
              with:
                  node-version: "12"
            - name: Install Neovim
              uses: rhysd/action-setup-vim@v1
              id: vim
              with:
                  neovim: true
                  version: nightly
            - name: Yarn install
              run: yarn --silent --frozen-lockfile
            - name: Build
              run: yarn run compile
            - name: Lint
              run: yarn run lint
            - name: Test
              uses: GabrielBB/xvfb-action@v1.4
              env:
                  NEOVIM_PATH: ${{ steps.vim.outputs.executable }}
                  NEOVIM_DEBUG: 1
                  NEOVIM_DEBUG_HOST: 127.0.0.1
                  NEOVIM_DEBUG_PORT: 4000
              with:
                  run: yarn run test
