name: Check Style and Quality

on: [pull_request, push]

jobs:
    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - name: Setup Node
              uses: actions/setup-node@v5
              with:
                  node-version: "18"
                  cache: "npm"

            - name: npm install
              run: npm ci --silent

            - run: npm run lint:check
            - run: npm run format:check
            - run: npm run stylua:check
